.folletos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.card-body a{
    text-decoration: none;
}

.texto{
    color: black;
}