.catalogo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article p{
    text-align: center;
}

.folletos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.card-body a{
    text-decoration: none;
}

.folletos img{
    width: 238px;
    height: 360px;
}

.texto{
    color: black;
}