body{
    background: url("../imagenestfg/fondo.png") no-repeat;
    background-position: bottom;
    background-position: right;
}

header,  article{
    margin: 1.25em 3.125em;
}

nav.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    margin-bottom: 50px;
}

.cabecera{
    position: sticky;
    top: -1px;
    z-index: 1;
}

.navbar-collapse{
    justify-content: center;
    align-items: center;

}

.navbar-nav{
    gap: 100px;
    background-color: white;
    border: 1px solid black;
}

header a{
    text-decoration: none;
    color: black;
}

footer{
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    border-top: 25px solid #b5bd00;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.imagenes{
    margin-left: 3.125rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.contacto, .ubicacion{
    margin: 0.9375rem;
}

.d-flex{
    margin-top: 30px;
}

@media (max-width: 1200px){
    body{
        font-size: 14px;
    }
}

@media (max-width: 992px){


}

@media(max-width: 768px){

}

@media (max-width: 576px) {
    body{
        font-size: 12px;
    }

}
