article > p{
    text-align: center;
}

article > img{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.ofertas img{
    width: 238px;
    height: 238px;
}

.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}