table{
    margin: 0 auto;
    border: 1px solid black;
}

th, td{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.formulario p{
    display: flex;
    flex-direction: column;
}

input{
    background-color: #fbfbfb; 
    width: 300px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #b5bd00;   
    padding-left: 10px;
}

#agregar{
    display: none;
}

#editar{
    display: none;
}

#eliminar{
    display: none;
}

.boton-subir{
    padding: 0;
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 25px;
    right: 25px;
    width: 50px;
    text-decoration: none;
}

.subir{
    cursor: pointer;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: rgba(0,0,0,.5);
    float: right;
    text-align: center;
    border: 1px solid #b5bd00;
}

.subir:hover{
    color: white;
}