article li{
    text-align: left;
    margin-left: 50px;
}

article strong{
    text-decoration: underline;
}

article p{
    text-align: justify;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1050px;
}