.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

aside{
    float: left;
    overflow-y: auto;
    width: 298px;
    height: 604px;
    position: sticky;
    top: 10px;
    z-index: 0;
}

article > p{
    text-align: center; 
    font-weight: bold; 
    font-size: 22px;
}

form{
    right: 0px;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja{
    background-color: rgba(0, 0, 0, .25);
    border: 1px solid rgba(222, 222, 222, .25);
    border-radius: 10px;
    box-shadow: 0px 2px 20px 10px rgba(222, 222, 222, .25);
    width: 700px;
    height: 292px;
}

.caja p{
    margin: 80px 80px;
    font-size: 18px;
    color: black;
}

.caja img{
    float: left;
    margin: 20px;
    width: 250px;
    height: 250px;
}

.btn{
    margin-top: 20px;
}

.caja a{
    text-decoration: none;
    color: black;
}

.caja a:hover{
    color: #b5bd00;
}

.caja img:hover{
    border-color: #b5bd00;
}

@media (max-width: 1400px){
    aside{
        width: 298px;
        height: 500px;
        margin-right: 20px;
    }
    .caja{
        width: 450px;
        height: 210px;
    }

    .caja p{
        margin: 25px 50px;
    }

    .caja img{
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 1200px){
    .productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    aside{
        width: 298px;
        height: 800px;
    }
}